{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
text
{% endblock title %}

{% block content %}
<p> {{ CurrentPost.title|censor }} </p>
<p> {{ CurrentPost.text|censor }} </p>
{% if CurrentPost.categoryType == 'AR' %}
<p> <b> Рейтинг статьи : </b> {{ CurrentPost.rating }} </p>
{% else %}
<p> <b> Рейтинг нововсти : </b> {{ CurrentPost.rating }} </p>
{% endif %}
{% if CurrentPost.categoryType == 'AR' %}
<p> <b> Дата написания статьи : </b> {{ CurrentPost.dateCreation|date:'d.m.Y' }} </p>
{% if perms.articles.change_post %}
<a href = '/articles/{{CurrentPost.id}}/edit'> Редактировать </b>  </a> <br>
{% endif %}
{% if perms.articles.delete_post %}
<a href = '/articles/{{CurrentPost.id}}/delete'> Удалить </b>  </a> <br>
{% endif %}
{% else %}
<p> <b> Дата написания новости : </b> {{ CurrentPost.dateCreation|date:'d.m.Y' }} </p>
{% if perms.news.change_post %}
<a href = '/news/{{CurrentPost.id}}/edit'> Редактировать </b>  </a> <br>
{% endif %}
{% if perms.news.delete_post %}
<a href = '/news/{{CurrentPost.id}}/delete'> Удалить </b>  </a> <br>
{% endif %}
{% endif %}
{% endblock content %}