{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
text
{% endblock title %}

{% load cache %}
{% cache 300 content %}
{% block content %}
<p> {{ CurrentNews.title|censor }} </p>
<p> {{ CurrentNews.text|censor }} </p>
<p> <b> Рейтинг новости : </b> {{ CurrentNews.rating }} </p>
<p> <b> Дата написания новости : </b> {{ CurrentNews.dateCreation|date:'d.m.Y' }} </p>
{% if perms.news.change_post %}
<a href = '/news/{{CurrentNews.id}}/edit'> Редактировать </b>  </a> <br>
{% endif %}
{% if perms.news.delete_post %}
<a href = '/news/{{CurrentNews.id}}/delete'> Удалить </b>  </a> <br>
{% endif %}
{% endblock content %}
{% endcache %}