{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
text
{% endblock title %}

{% block content %}
<p> {{ CurrentPost.title|censor }} </p>
<p> {{ CurrentPost.text|censor }} </p>
{% if CurrentPost.categoryType == 'AR' %}
<p> <b> Рейтинг статьи : </b> {{ CurrentPost.rating }} </p>
{% else %}
<p> <b> Рейтинг нововсти : </b> {{ CurrentPost.rating }} </p>
{% endif %}
{% if CurrentPost.categoryType == 'AR' %}
<p> <b> Дата написания статьи : </b> {{ CurrentPost.dateCreation|date:'d.m.Y' }} </p>
{% else %}
<p> <b> Дата написания новости : </b> {{ CurrentPost.dateCreation|date:'d.m.Y' }} </p>
{% endif %}
{% endblock content %}