<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="#">Tutorial</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/post">Нововсти и статьи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/news">Список новостей</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/articles">Список статей</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/search">Поиск статей</a>
                        </li>
                        {% if perms.news.add_post %}
                        <li class="nav-item">
                            <a class="nav-link" href="/news/create">Написать новость </a>
                        </li>
                        {% endif %}
                        {% if perms.news.add_post %}
                        <li class="nav-item">
                            <a class="nav-link" href="/articles/create">Написать статью </a>
                        </li>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/logout">Выйти из аккаунта </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/login">Войти в аккаунт </a>
                        </li>
                        {% endif %}
                        {% if request.user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Войти в админ панель </a>
                        </li>
                        {% endif %}
                         {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/post/subscriptions">Подписаться на рассылку </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>